/* general */

body{
    font-family: soleil,sans-serif;
    font-weight: 400;
    font-style: normal;
}

img{
    width: 100%;
}

video{
    width: 100%;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color:#d9dce9;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 300ms;
}

/* nav */

.info{
    position: fixed;
    text-align: center;
}

.lastname{
    font-family: plantin,sans-serif;
    font-weight: 500;
    font-style: italic;
}

.nav{
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
    box-shadow: 0px 36px 50px -2px #ECEEF5;
    background-color: white;

}

.nav-item{
    text-align: center;
}

.this-page a{
    color: #d9dce9;
    font-family: plantin,sans-serif;
    font-weight: 700;
    font-style: italic;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 300ms;
}

.nav a:hover{
    font-family: plantin,sans-serif;
    font-weight: 700;
    font-style: italic;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 300ms;
}

/* top section */

.top{
    padding-top: 5%;
}

.top .image{
    padding-left: 5%;
    padding-right: 5%;
}

.top .vertical{
    padding-left: 13%;
    padding-right: 10%;
}


.intro{
    padding-top: 5%;
    padding-right: 5%;
}

.about{
    padding-top: 0%;
}

.vertical-intro{
    padding-right: 10%;
}

.title{
    font-weight: 700;
}

.subtitle{
    font-family: plantin,sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 20px;
}

.top p{
    padding-top: 25px;
}

/* middle section */

.middle{
    background-color: #060C22;
    margin: 0;
    margin-top: 150px;
    margin-right: -20px;
    padding-top: 150px;
    padding-bottom: 150px;
}

.pink{
    background-color: #F19487;
}

.black{
    background-color: #000000;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 250px;
}

.shapes-container{
    padding-right: 0px;
}

#shapes{
    padding: 0px;
}

.middle img{
    padding: 5%;
}


.middle .text{
    padding: 0;
    padding-top: 10%;
}

.middle p{
    color: white;
    padding-left: 10%;
    padding-top: 15%;
}

.middle .paragraph{
    padding-top: 5px;
}

/* bottom section */

.bottom{
    padding: 0;
    margin: 0;
    margin-top: 150px;
}

.dark{
    background-color: #060C22;
}

.bottom .row{
    padding: 0;
    margin: 0;
    /* padding-left: 5%; */
}

.bottom .col-md-6{
    padding: 0;
    padding-top: 50px;
}

.bottom .col-md-6 p{
    padding-top: 10%;
}

.vid{
    display: block;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.bottom .video video{
    display: block;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

.bottom p, .bottom h4, .bottom h1{
    padding-left: 15%;
    padding-right: 5%;
}

.bottom p {
    padding-top: 25px;
}

.bottom .spread{
    padding: 5%;
}

.bottom .image{
    padding: 5%;
}

.col-md-12{
    padding: 0;
}

.split img{
    padding: 5%;
}

.split p{
    padding: 10%;
}

/* footer */

.footer{
    background-color: #F1F3FA;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 5%;
    margin-top: 100px;
}

.contact{
    text-align: center;
    padding-left: 5%;
}

.name{
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 10px;
}

.footer-nav{
    font-weight: 600;
}

/* js */

.appear{
    position: relative;
    transform: translateY(50px);
    opacity: 0.1;
    transition: all 2s ease;
}

.appear.active{
    transform: translateY(0px);
    opacity: 1;
}

/* media queries */

@media (max-width: 1150px){
    p{
        font-size: 12px;
    }

    
}

@media (max-width: 768px){

    .nav{
        font-size: 12px;
    }

    .intro{
        padding: 10%;
    }

    .about{
        padding-top: 0%;
    }

    .middle{
        margin-top: 50px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .black{
        padding-top: 0px;
        padding-bottom: 0px;
    }

    #shapes{
        padding: 0px;
        padding-top: 50px;
    }

    .middle p{
        padding: 10%;
    }

    .middle .paragraph{
        padding:0;
        padding-left: 10%;
        padding-right: 10%;
    }

    .bottom{
        margin-top: 50px;
    }

    .bottom p{
        padding:10%;
    }

    .bottom h1, .bottom h4{
        padding-left: 10%;
        padding-right: 10%;
    }

    


    .footer{
        font-size: 12px;
        padding-right: 5%;
        padding-left: 5%;
        margin-top: 50px;
    }

    .name{
        font-size: 13px;
    }

    .footer-nav{
        text-align: right;
        
    }

}

@media (max-width: 575px){

    .about{
        padding-top: 5%;
    }
    
}
