:root{
    --color-primary: #CEDBFF;
    --color-secondary: #333333;
}

body{
    font-family: 'Cabin', sans-serif;
    color: var(--color-secondary);
}

a{
    text-decoration: none;
    color: var(--color-secondary);
    font-weight: bold;
}

.this-page{
    color: var(--color-primary);
}

.container{
    padding-top: 1%;
}

@keyframes opacityTransition{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/** nav **/

.nav{
    padding-top: 2%;
}

.nav-btn{
    font-size: 16pt;
    transition-property: all;
    transition-delay: 100ms;
    transition-duration: 100ms;
    transition-timing-function: ease-in;
}

.nav-btn:hover{
    color: var(--color-primary);
}

.logo img{
    width:30px;
    height: auto;
    padding-top: 10%;
}

button{
    border: 0;
    outline: 0;
    background-color: white;
    display:none;
}

/** title and subtitles **/
.square-bullet{
    background-color: var(--color-primary);
    color:var(--color-primary);
}

@media (max-width: 768px){
    .square-bullet{
        display:none;
    }
}

.title{
    margin-top: 7%;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight:800;
    font-size: 35pt;
    animation: opacityTransition 1s;
    animation-timing-function: ease-in;
}

@media (max-width: 768px){
    .title{
        text-align: center;
    }
}

.subtitle{
    margin-top: 1.5%;
    font-weight: 500;
    margin-bottom: 5%;
    animation: opacityTransition 1s;
    animation-timing-function: ease-in;
}

/** project buttons **/

.project-square{
    height:0;
    padding-bottom: 90%;
    position:relative;
    margin-top: 5%;
    color:white;
    animation: opacityTransition 1s;
    animation-timing-function: ease-in;
}

.project-text{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Merriweather Sans', sans-serif; 
    font-size: 25pt;
    font-weight:800;
}

.project-square:hover{
   color:transparent;
}

#spotlight-square{
    background-image: url(images/btn_spotlight.png);
    background-size: cover;
}

#spotlight-square:hover{
    background-image: url(images/btn_spotlight_hover.png);
    background-size: cover;
    transition-duration: 100ms;
    transition-delay: 100ms;
    transition-timing-function: ease-in;
}

#paintla-square{
    background-image: url(images/btn_paintla.png);
    background-size: cover;
}

#paintla-square:hover{
    background-image: url(images/btn_paintla_hover.png);
    background-size: cover;
    transition-duration: 100ms;
    transition-delay: 100ms;
    transition-timing-function: ease-in;
}

#dpaintings-square{
    background-image: url(images/btn_dpaintings.png);
    background-size: cover;
}

#dpaintings-square:hover{
    background-image: url(images/btn_dpaintings_hover.png);
    background-size: cover;
    transition-duration: 100ms;
    transition-delay: 100ms;
    transition-timing-function: ease-in;
}

#waves-square{
    background-image: url(images/btn_waves.png);
    background-size: cover;
}

#waves-square:hover{
    background-image: url(images/btn_waves_hover.png);
    background-size: cover;
    transition-duration: 100ms;
    transition-delay: 100ms;
    transition-timing-function: ease-in;
}

#nocturnal-square{
    background-image: url(images/btn_nocturnal.png);
    background-size: cover;
}

#nocturnal-square:hover{
    background-image: url(images/btn_nocturnal_hover.png);
    background-size: cover;
    transition-duration: 100ms;
    transition-delay: 100ms;
    transition-timing-function: ease-in;
}

#portfolio-square{
    background-image: url(images/btn_portfolio.png);
    background-size: cover;
}

#portfolio-square:hover{
    background-image: url(images/btn_portfolio_hover.png);
    background-size: cover;
    transition-duration: 100ms;
    transition-delay: 100ms;
    transition-timing-function: ease-in;
}

.bottom{
    padding-bottom: 10%;
}