:root{
    --color-primary: #CEDBFF;
    --color-secondary: #333333;
}

body{
    font-family: 'Cabin', sans-serif;
    color: var(--color-secondary);
}

a{
    text-decoration: none;
    color: var(--color-secondary);
    font-weight: bold;
}

.this-page{
    color: var(--color-primary);
}

.nav{
    padding-top: 2%;
}

.nav-btn{
    font-size: 16pt;
    transition-property: all;
    transition-delay: 100ms;
    transition-duration: 100ms;
    transition-timing-function: ease-in;
}

.nav-btn:hover{
    color: var(--color-primary);
}

.logo img{
    width:30px;
    height: auto;
    padding-top: 10%;
}

button{
    border: 0;
    outline: 0;
    background-color: white;
    display:none;
}