:root{
    --color-primary: #CEDBFF;
    --color-secondary: #333333;
}

body{
    font-family: 'Cabin', sans-serif;
    color: var(--color-secondary);
    animation: opacityTransition 1s;
    animation-timing-function: ease-in;
}

a{
    text-decoration: none;
    color: var(--color-secondary);
    font-weight: bold;
}

.this-page{
    color: var(--color-primary);
}

.container{
    padding-top: 1%;
}

@keyframes opacityTransition{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes sizeTransition{
    from{
        border-radius: 0px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    to{
        border-radius: 30px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

/** nav **/
.nav{
    padding-top: 2%;
}

.nav-btn{
    font-size: 16pt;
    transition-property: all;
    transition-delay: 100ms;
    transition-duration: 100ms;
    transition-timing-function: ease-in;
}

.nav-btn:hover{
    color: var(--color-primary);
}

.logo img{
    width:30px;
    height: auto;
    padding-top: 10%;
    transition: all 1s ease;
    transform-origin: top;
}

.logo img:hover{
    width:30px;
    height: auto;
    padding-top: 10%;
    transform: scaleY(.5);
}

button{
    border: 0;
    outline: 0;
    background-color: white;
    display:none;
}

/** title and subtitles **/
.square-bullet{
    background-color: var(--color-primary);
    color:var(--color-primary);
}

@media (max-width: 768px){
    .square-bullet{
        display:none;
    }
}

.title{
    margin-top: 7%;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight:800;
    font-size: 35pt;
    animation: opacityTransition 1s;
    animation-timing-function: ease-in;
}

@media (max-width: 768px){
    .title{
        text-align: center;
    }
}

.subtitle{
    margin-top: 1.5%;
    font-weight: 500;
    margin-bottom: 5%;
    animation: opacityTransition 1s;
    animation-timing-function: ease-in;
}

/** project buttons **/

.project-square{
    height:0;
    padding-bottom: 90%;
    position:relative;
    margin-top: 5%;
    color:white;
}

.project-text{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Merriweather Sans', sans-serif; 
    font-size: 25pt;
    font-weight:800;
}

.project-square:hover{
    color:transparent;
    animation: sizeTransition 1s;
    animation-fill-mode: forwards;
}

#gouache-square{
    background-image: url(images/btn_gouache.png);
    background-size: cover;
}

#gouache-square:hover{
    background-image: url(images/btn_gouache_hover.png);
    background-size: cover;
    transition-duration: 100ms;
    transition-delay: 100ms;
    transition-timing-function: ease-in;
}

#cyanotype-square{
    background-image: url(images/btn_cyanotype.png);
    background-size: cover;
}

#cyanotype-square:hover{
    background-image: url(images/btn_cyanotype_hover.png);
    background-size: cover;
    transition-duration: 100ms;
    transition-delay: 100ms;
    transition-timing-function: ease-in;
}

#risograph-square{
    background-image: url(images/btn_risograph.png);
    background-size: cover;
}

#risograph-square:hover{
    background-image: url(images/btn_risograph_hover.png);
    background-size: cover;
    transition-duration: 100ms;
    transition-delay: 100ms;
    transition-timing-function: ease-in;
}