:root{
    --color-primary: #CEDBFF;
    --color-secondary: #333333;
}

body{
    font-family: 'Cabin', sans-serif;
    color: var(--color-secondary);
}

a{
    text-decoration: none;
    color: var(--color-secondary);
    font-weight: bold;
}

.nav-btn{
    font-size: 16pt;
}

.nav-btn:hover{
    color: var(--color-primary);
}

button{
    border: 0;
    outline: 0;
    background-color: white;
    display:none;
}

#bigH{
    width: 90%;
}

#name{
    font-family: 'Merriweather Sans', sans-serif;
    font-weight:800;
    font-size: 70pt;
    color: var(--color-primary);
    margin-top: 28%;
    margin-left: 10%;
}

.content{
    padding-right: 10%;
}

.intro-paragraph{
    font-weight: 600;
    font-size: 18pt;
    margin-top: 10%

}

.view-portfolio{
    background-color: var(--color-primary);
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 800;
    font-size: 16pt;
    margin-top: 6%;
    margin-left: 2%;
    margin-right: 2%;
    padding-top: 5%;
    padding-bottom: 5%;
   
}

.view-portfolio:hover{
    background-color: var(--color-secondary);
    color: var(--color-primary);
}







