/** general styling **/
:root{
    --color-primary: #CEDBFF;
    --color-secondary: #333333;
}

body{
    font-family: 'Cabin', sans-serif;
    color: var(--color-secondary);
}

a{
    text-decoration: none;
    color: var(--color-secondary);
    font-weight: bold;
}

.nav-btn{
    font-size: 16pt;
}

.nav-btn:hover{
    color: var(--color-primary);
}

button{
    border: 0;
    outline: 0;
    background-color: white;
    display:none;
}

/** above fold content **/
#bigH{
    width: 90%;
}

#name{
    font-family: 'Merriweather Sans', sans-serif;
    font-weight:800;
    font-size: 70pt;
    color: var(--color-primary);
    margin-top: 28%;
    margin-left: 10%;
}

.content{
    padding-right: 10%;
}

.intro-paragraph{
    font-weight: 600;
    font-size: 18pt;
    margin-top: 10%

}

.view-portfolio{
    background-color: var(--color-primary);
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 800;
    font-size: 16pt;
    margin-top: 6%;
    padding-top: 5%;
    padding-bottom: 5%;
   
}

.view-portfolio:hover{
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

/** page link buttons **/
#buttons{
    margin-top: 5%;
}

.print{
    background-image: url("images/square_print.png");
    background-size: cover;
    height:0;
    padding-bottom: 90%;
    position:relative;
}

.digital{
    background-image: url("images/square_digital.png");
    background-size: cover;
    height:0;
    padding-bottom: 90%;
    position:relative;
}

.sketchbook{
    background-image: url("images/square_sketchbook.png");
    background-size: cover;
    height:0;
    padding-bottom: 90%;
    position:relative;
}

.square:hover{
    background-image:none;
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

.text{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Merriweather Sans', sans-serif; 
    font-size: 20pt;
    font-weight:800;
}

/** footer **/

.footer{
    margin-top: 5%;
}

#small-h{
    width: 100%;
}

.contact{
    position:relative;
}

.contact .col-md{
    position: absolute;
    bottom: 0;
    padding-bottom: 5%;
}

.contact-header{
    font-weight:bold;
}

.contact-info{
    font-weight:400;
}



